body {
	background-color: black;
}



.fireworks {
	height: 400px;
	width: 400px;
	position: absolute;
	top: 65px
}

.spark {
  fill: #fff;
  --angle: 360deg/6;
  opacity: 0;
  animation: explode 3s cubic-bezier(0.000, 0.990, 0.250, 0.970) infinite, fade 3s infinite;
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      --angle: 360deg/6 * $i;
    }
  }
}

.sparks {
  transform-origin: 0 0;
}

.sparks:nth-child(1) {
  transform: translate(-3000px, -290px) scale(0.8);
  .spark {
    animation-delay: 1s;
  }
}

.sparks:nth-child(2) {
  transform: translate(300px, -120px) scale(0.6);
  .spark {
    animation-delay: 1.5s;
  }
}

.sparks:nth-child(3) {
  transform: translate(-20px, -300px) scale(1);
  .spark {
    animation-delay: 2.4s;
  }
}

.sparks:nth-child(4) {
  transform: translate(180px, -190px) scale(0.4);
  .spark {
    animation-delay: 2.9s;
  }
}

.sparks:nth-child(5) {
  transform: translate(-700px, -190px) scale(0.6);
  .spark {
    animation-delay: 0.9s;
  }
}

.sparks:nth-child(6) {
  transform: translate(-500px, -120px) scale(0.8);
  .spark {
    animation-delay: 2.3s;
  }
}

.sparks:nth-child(7) {
  transform: translate(500px, 190px) scale(1);
  .spark {
    animation-delay: 1.3s;
  }
}

@keyframes fade {
  1% {
    opacity: 1
  }
  60%,
  100% {
    opacity: 0
  }
}

@keyframes explode {
  0% {
    transform: rotate(var(--angle)) translate(0, 0);
  }
  50%,
  100% {
    transform: rotate(var(--angle)) translate(300px, 0);
  }
}
